doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="es")
  head
    meta(charset="utf-8")
    title Project {% block title %} {%endblock%}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")

    // font-awesome
    if debug
      link(
        href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}",
        rel="stylesheet"
      )
    else
      link(
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",
        rel="stylesheet"
      )

    {% compress css %}
    link(href="{% static 'css/bootstrap.less' %}", rel="stylesheet", type="text/less", charset="utf-8")
    link(
      href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}",
      rel="stylesheet"
    )
    link(href="{% static 'bower_components/select2/dist/css/select2.css' %}", rel="stylesheet")
    link(type="text/less", rel="stylesheet", href="{% static 'css/site.less' %}",
      charset="utf-8")
    link(href="{% static 'css/bootstrap.less' %}", rel="stylesheet", type="text/less", charset="utf-8")
    {% endcompress %}

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="{% static 'bower_components/respond/respond.min.js' %}")

    {% compress css %}
    block stylesheets
    {% endcompress %}

  body(class='{{body_class|default:""}}')
    div
      {% include 'includes/navbar.jade' %}
      div.container
        div.row
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}") {{ message }}
          {% endfor %}
          {% endif %}
      div.container
        {% block content %}
        {% endblock %}

      //Le javascript
      //Placed at the end of the document so the pages load faster

      // uncompressible javascripts
      {% if debug %}
      script(src="{% static 'bower_components/jquery/dist/jquery.min.js' %}")
      {% else %}
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      {% endif %}
      block uncompressible_javascripts

      {% compress js %}
      script(src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}")
      script(src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}")
      script(src="{% static 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}")
      script(src="{% static 'bower_components/select2/dist/js/select2.min.js' %}")
      script(src="{% static 'bower_components/select2/dist/js/i18n/es.js' %}")
      script(src="{% static 'js/vendor/oop.js' %}")
      script(src="{% static 'js/app.js' %}")
      script(src="{% static 'js/form.js' %}")
      {% endcompress %}

      block javascript_data

      {% compress js %}
      block javascripts
      {% endcompress %}
